.App {
  text-align: center;
}

body {
  background-color: #2d2d32 !important;
}

body::-webkit-scrollbar {
  display: none;
}

#container {
  /* margin: 80px auto; */
  margin-top: 80px;
  margin-left: 7%;
  overflow-x: hidden;
  color: white;
}

@media(max-width: 1024px) {
  #container {
    margin-left: 0;
  }
}