.App {
  text-align: center;
}

body {
  background-color: #2d2d32 !important;
}

body::-webkit-scrollbar {
  display: none;
}

.app-container {
  /* margin: 80px auto; */
  /* margin-left: 7%; */
  overflow-x: hidden;
  color: white;
}

.app-container-home {
  margin-left: 0;
  margin-top: 0px;
}

@media(max-width: 1024px) {
  .app-container {
    /* margin-top: 50px; */
    margin-left: 0;
  }
}