.project-block-container {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    position: relative;
}
.project-block-container img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    transition-duration: 0.2s;
    object-fit: cover;
}

.project-brief {
    position: absolute;
    z-index: 1000;
    background-color: rgba(45,45,50,0.81);
    padding: 8%;
    width: 90%;
    height: 90%;
    opacity: 0;
    transition-duration: 0.2s;
}

.project-brief:hover {
    opacity: 1;
}

.project-brief-categories {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0px 0px 2px black;
    color: rgba(241, 192, 57, 0.747);
    letter-spacing: 0.1em;
    font-size: 1.5vh;
    text-transform: uppercase;
}

.project-brief-categories span {
    margin-right: 2vh;
}

@media (max-width: 411px){
    .project-block-container {
        width: 100%;
        height: 30vh;
    }  
    .project-brief-categories {

    }
}

@media (max-width: 812px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px){
    .project-block-container {
        width: 100%;
        height: 50vh;
    }
}

.project-brief-description {
    margin-top: 1.3vh;
    font-size: 1.6vh;
    color: white;
}

.project-brief-info {
    margin-top: 7vh;
    font-size: 1.8vh;
    text-shadow: 0px 0px 3px black;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white;
}

.project-brief-info span{
    color: rgba(249, 193, 38, 0.788);
}