@keyframes project-title-entrance {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes project-title-entrance-mobile {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Main Container */

.project-details-container {
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: project-title-entrance 1s forwards;
}

.project-details-container-ar {
    direction: rtl;
}

/* SWIPER */

.project-details-swiper {
    opacity: 0;
    animation: project-title-entrance 1s forwards;
    animation-delay: 1.5s;
    background-color: #2A2A2E;
}

.swiper-container-horizontal > .swiper-pagination-progressbar, 
.swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    top: auto;
    bottom: 0;
    height: 4px;
    background-color: #2A2A2E;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: #F9BF26;
}



/* Header */

.project-details-header-svg {
    position: absolute;
    width: 100vw;
    height: 15%;
}

.project-details-header-line {
    width: 100%;
    height: 80%;
    stroke: #414145;
    fill: transparent;
}

.project-details-header-yellow-line {
    width: 100%;
    height: 80%;
    stroke: #F9BF26;
    fill: transparent;
    stroke-width: 1px;
}

.project-details-header-rectangle {
    width: 50vw;
    height: 18vh;
    fill: #323236;
}

.project-header {
    height: 100%;
    width: 100%;
}

.project-title {
    display: flex;
    flex-direction: row;
    font-family: 'Oswald';
    background-color: #2A2A2E;
    margin-top: 80px;
    height: 30vh;
    text-align: center;
    align-items: center;
    font-size: 2.2em;
}
.project-title-header {
    animation: project-title-entrance 0.7s forwards;
    animation-delay: 0.5s;
    opacity: 0;
    width: 40vw;
    padding: 5% 10%;
    padding-left: 15%;
    padding-right: 5%;
    text-align: left;
}

.project-title-subtitle {
    font-weight: 700;
    width: 30vw;
    font-size: 0.35em;
    opacity: 0;
    display: flex;
    font-family: Barlow;
    color: #8B8B8D;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    align-items: left;
    animation: project-title-entrance 0.7s forwards;
    animation-delay: 1s;
}

.project-title-subtitle :nth-child(1) {
    color: white;
}

.project-title-subtitle :nth-child(2) {
    color: #F9BF26;
}

.title-ar {
    right: auto;
    left: 0;
}

.title-ar, .subtitle-ar {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: normal;
    word-spacing: normal;
    justify-content: right;
    text-align: right;
}


@media (max-width: 1024px){
    .project-details-header-svg {
        height: 5em;
    }

    .background-video {
        width: 100%;
    }

    .project-title {
        margin-top: 50px;
        height: 100%;
        font-size: 2em;
        flex-direction: column;
        animation: project-title-entrance-mobile 1s forwards;
    }

    .project-details-header-rectangle {
        height: 8vh;
    }

    .project-title-header {
        /* background-color: red; */
        width: 100%;
        margin-top: 5vh;
    }

    .project-title-subtitle {
        padding: 5%;
        width: 80%;
    }

    .downArrow {
        left: 47%;
    }
}


@media (max-width: 1024px) and (orientation: landscape) {
    .project-details-header-svg {
        height: 11%;
    }

    .project-details-header-rectangle {
        height: 20vh;
    }

    .project-title-header {
        /* background-color: red; */
        width: 100%;
        margin-top: 2vh;
    }

    .project-title-subtitle {
        padding: 3%;
        width: 80%;
    }

    .downArrow {
        left: 50%;
    }
}

/* .preview-container {
    z-index: 1;
    width:100%;
    height: 100vh;
    opacity: 0.8;
} */