.project-details-container {
    display: flex;
    flex-direction: column;
}

.project-details-container-ar {
    direction: rtl;
}

.preview-container {
    z-index: 1;
    width:100%;
    height: 100vh;
    opacity: 0.5;
}

.project-header {
    height: 100%;
    width: 100%;
}

.preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-title {
    z-index: 2;
    position: absolute;
    font-family: 'Oswald';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 4.5em;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 97%;
    right: 0;
    height: 100%;
    /* letter-spacing: 0.4vh; */
    word-spacing: 2vh;
    animation: project-title-entrance 1s forwards;
}

@keyframes project-title-entrance {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes project-title-entrance-mobile {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.project-subtitle {
    border-top: 3px solid #F9BF26;
    font-weight: 400;
    font-size: 0.4em;
    word-spacing: 0.5vh;
    padding: 1%;
}

.title-ar {
    right: auto;
    left: 0;
}

.title-ar, .subtitle-ar {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: normal;
    word-spacing: normal;
    justify-content: right;
    text-align: right;
}

.downArrow {
    position: fixed;
    bottom: 1%;
    left: 50%;
    animation: 1s bounce infinite;
    font-size: 2em;
}

@keyframes bounce {
    0% {transform: translateY(0px)}
    50% {transform: translateY(-5px)}
    100% {transform: translateY(0px)}
}

@media (max-width: 1024px){
    .background-video {
        width: 100%;
    }

    .project-title {
        width: 96%;
        height: 100%;
        font-size: 7vh;
        justify-content: left;
        animation: project-title-entrance-mobile 1s forwards;
    }

    .downArrow {
        left: 47%;
    }
}


@media (max-width: 1024px) and (orientation: landscape) {
    .project-title {
        height: 100%;
        font-size: 10vh;
    }

    .downArrow {
        left: 50%;
    }
}