.project-details-container {
    display: flex;
    flex-direction: column;
}

.project-details-container-ar {
    direction: rtl;
}

.video-container {
    z-index: 1;
    opacity: 0.5;
}

.project-title {
    z-index: 2;
    position: absolute;
    font-family: 'Oswald';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 4.5em;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 85%;
    right: 0;
    height: 80%;
    /* letter-spacing: 0.4vh; */
    word-spacing: 2vh;
}

.project-subtitle {
    border-top: 3px solid #F9BF26;
    font-weight: 400;
    font-size: 0.4em;
    word-spacing: 0.5vh;
    padding: 1%;
}

.title-ar {
    right: auto;
    left: 0;
}

.title-ar, .subtitle-ar {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: normal;
    word-spacing: normal;
    justify-content: right;
    text-align: right;
}

@media (max-width: 1024px){
    .background-video {
        width: 100%;
    }

    .project-title {
        width: 90%;
        height: 30%;
        font-size: 4vh;
        justify-content: left;
    }
}

@media (max-width: 1024px) and (orientation: landscape) {
    .project-title {
        height: 100%;
        font-size: 10vh;
    }

}

.downArrow {
    position: fixed;
    bottom: 1%;
    left: 55%;
    animation: 1.5s bounce infinite;
}

@keyframes bounce {
    0% {transform: translateY(0px)}
    50% {transform: translateY(-5px)}
    100% {transform: translateY(0px)}
}
