.homepage-container {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  background-image: url(https://res.cloudinary.com/duiexwi8t/image/upload/v1602096070/Untitled_grzu3b.png);
  background-size: cover;
}

.homepage-project-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 8vw;
  top: 26vh;
  background-color: rgba(70, 70, 70, 0.1);
  width: 37vw;
  padding: 15px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.homepage-project-title {
  font-weight: bolder;
  font-size: 2em;
  text-transform: uppercase;
  margin: 0;
}

.homepage-project-location {
  background-color: rgba(77, 75, 75, 0.4);
  font-size: 0.8em;
  padding: 2px 5px;
  width: 14em;
}

.homepage-project-description {
  font-size: 0.8em;
  font-family: -apple-system, 'Helvetica Neue', sans-serif;
  margin: 2vh 0;
}

.homepage-project-button {
  background-color: #E39E03;
  text-align: center;
  width: 9em;
  padding: 0.6em 1.2em;
  cursor: pointer;
}