.swiper-button-prev {
  color: white;
}

.swiper-button-next {
  color: white;
}

.swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
  width: 16px;
  height: 3px;
  border-radius: 0;
}
.swiper-pagination-bullet-active {
  background-color: #E29D04;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 1px;
}