.padding {
    width:35%;
}

.admin-body{
    display:flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #141B2D;
}

.login-details{
    background-color: #0A1121;
    display: flex;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    margin: auto;
}

.login-div {
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 3vw;
    width: 60%;
    text-align: left;
}

.login-text {
    font-weight: bold;
    font-size: 5vh;
    color: white;
}

.login-subtitle {
    color: rgb(202, 202, 202);
}

.login-error {
    color: rgb(255, 24, 24);
}

.input-entry {
    margin-bottom: 5vh;
}

.input-entry input {
    border: 1px solid gray;
    background-color: transparent;
    height: 35px;
    width: 20vw;
    padding-left: 10px;
    color: white;
    border-radius: 10px;
    transition-duration: 0.2s;
}

.input-entry input:focus{
    border: 1px solid #3864C5;
    box-shadow: 0px 0px 5px #3864C5;
}

.input-entry p {
    margin-bottom: 1vh;
    color: white;
}

.submit {
    background-color: #3864C5;
    padding: 1vh 2vh;
    color: white;
}

.login-info {
    width: 40%;
    color: white;
    background-color: #3864C5;
    display: flex;
    justify-content: center;
}

.ndg-div {
    margin: auto;
    text-align: center;
    font-weight: bold;
}