/* Search Bar */
.services-search {
    display:flex;
    justify-content: left;
    padding: 10px;
    position: absolute;
}

.services-search-div{
    background-color: #1F2940;
    border-radius: 100px;
    color: #788096;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    text-align: left;
    padding: 8px 8px 8px 8px;
    font-size: 15px;
    width: 280px;

}

.services-search-div > input{
    background-color: transparent;
    border: none;
    color: white;
    margin-left: 15px;
    font-size: 15px;
    width: 100%;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #788096;
    opacity: 1; /* Firefox */
    font-size: 15px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #788096;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #788096;
  }

.services-view-title {
    padding: 0 2vw;
    padding-top: 70px;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.viewed-services-container {
    background-color: #141B2D;
    padding-bottom: 20px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.viewed-service {
    width: 450px;
    height: 110px;
    margin: 2vh 3vh;
    background-color: #0A1121;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: white;
    cursor: pointer;
    transition-duration: 0.2s;
}

.viewed-service:hover {
    background-color: #060a13;
}

.preview-div img{
    width: 12vw;
    height: 110px;
    object-fit: cover;
}

.viewed-service-div {
    width: 100%;
    padding: 0.7vh 1.3vw;
}

.viewed-service-title {
    /* padding-top: 7px; */
    font-size: 0.9em;
    line-height: 5px;
}

.viewed-service-delete-div {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1%;
}
.viewed-service-delete {
    float: right;
    width: 50px;
    height: 50px;
    background-color: #1C242B;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin: 7px;
}

.viewed-service-edit-icon {
    color:  #3159B1;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.viewed-service-edit-text {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: white;
    /* font-weight: bold; */
    background-color: #3159B1;
}

.viewed-service-delete-icon {
    background-color: #1C242B;
    color:  #F34541;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.viewed-service-delete-text {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: white;
    /* font-weight: bold; */
    background-color: #F34541;
}

.services-back-arrow-div {
    width: 100%;
    background-color: #141B2D;
    position: fixed;
}

.services-back-arrow {
    cursor: pointer;
    color: #3159B1;
    margin: 20px;
    font-size: 2vw;
    transition-duration: 0.2s;
}

.services-back-arrow:hover {
    color: #4a7ff1;
}

.new-service {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 200px;
    background-color: #696FFB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.new-service:hover {
    background-color: #8b8fff;
}
