/* Main Details File */

.service-edit-container p {
    font-size: 20px;
}

.service-detail-titles {
    display: flex;
}

.service-detail-titles-divs {
    width: 50%;
    margin-bottom: 30px;
}

.service-detail-titles-divs p{
    font-size: 13px;
    color: rgb(201, 202, 253);
}

.service-detail-titles-divs input {
    width: 90%;
    height: 40px;
    padding: 5px;
    background-color: #1F2940;
    color: white;
}

.service-detail-titles-divs textarea {
    width: 90%;
    height: 180px;
    padding: 5px;
    background-color: #1F2940;
    color: white;
    resize: none;
}

.service-detail-misc{
    font-size: 20px !important;
}