/* Fix this shit */


.Contact-container {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 4% 3%;
  background-color: white;
  height: 100%;

}

.Contact-container-ar {
  direction: rtl
}


.contact-us-container {
  /* grid-area: 1 / 2 / 2 / 3; */
  color: black;
  position: fixed;
  right: 0;
  width: 35%;
  height: 100%;
  background-image: url(https://res.cloudinary.com/duiexwi8t/image/upload/v1601570512/NDG%20Projects/Sample%20Images/aboutus_b6wolw.png);
  background-size: cover;
  z-index: 10;
}

.contact-us-container-ar {
  right: auto;
  left: 7%;
}

.main-contact-container {
  /* grid-area: 1 / 1 / 2 / 2; */
  color: black;
  width: 60%;
  /* position: absolute; */
  background-color: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.main-contact-container-ar {
  direction: rtl;
  text-align: right;
  padding: 7% 3% 0 3%;
}



/*  */

.black-box {
  background-color: #2A2A2E;
  color: white;
  transform: translate(60%, -80%);
  width: 50%;
  padding: 6%;
  display: flex;
  flex-direction: column;
  font-size: 0.8vw;
  font-weight: bold;
  text-transform: uppercase;
}

.black-box-ar {
  transform: translate(-60%, -80%);
}

.black-box span {
  margin-right: 1vh;
}

.black-box-text {
  margin-top: 3vh;
}

.black-box-text span:nth-child(1) {
  color: #717173;
}

.black-box-text span:nth-child(3) {
  color: #F9BF26;
}

.black-box-text span:nth-child(3):hover {
  color: white;
  cursor: pointer;
}

.getInTouch {
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7em;
  color: #999;
}

.contact-form {
  display: flex;
  flex-direction: column;
  /* display: grid; */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  }

.contact-form div:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
  padding: 1vw;
}
.contact-form div:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
  padding: 1vw;
}
.contact-form div:nth-child(3) {
  grid-area: 2 / 1 / 3 / 2;
  padding: 1vw;
}
.contact-form div:nth-child(4) {
  grid-area: 2 / 2 / 3 / 3;
  padding: 1vw;
}
.contact-form div:nth-child(6) {
  grid-area: 5 / 1 / 6 / 2;
  padding: 1vw;
}

.contact-form input, .contact-form select {
  border: 1px solid #EEEEEE;
  padding: 1vw;
  width: 100%;
}

.contact-form input::placeholder, .contact-form textarea::placeholder, .select-placeholder {
  font-weight: bold;
  font-size: 0.7em;
}


.contact-div img{
    width: 100%;
    object-fit: cover;
}

.submitButton {
  background-color: #2A2A2E;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.9em;
  width: 20%;
  transition-duration: 0.3s;
  padding: 1vw;
}
.submitButton:hover {
  background-color: #F9BF26;
}

@media (max-width: 1024px) {
  .black-box {
    transform: none;
    width: 100%;
    font-size: 3vw;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
  }

  .contact-form div {
    height: 10vh;
  }

  .contact-form div input {
    width: 100%;
    height: 90%;
  }

  .contact-form-text {

  }
}

@media (max-width: 1024px) {
  .Contact-container {
      flex-direction: column-reverse;
  }
  .main-contact-container {
      width: 100%;
      position: initial;
  }
  .contact-us-container {
      position: initial;
      width: 100%;
      height: 100vh;
  }

  .todo-brownies {
      margin: 0 5vh 0 7vh;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  contact-us-container {
      background-position-y: 100vh;
  }

  .abtus {
      padding: 5% 10% 0 8vh;
  }

  .todo-brownies {
      font-size: 4vh;
  }
  
}