/* Fix this shit */


.Contact-container {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 4% 3%;
  background-color: white;
  height: 100%;

}

.Contact-container-ar {
  direction: rtl
}


.contact-us-container {
  /* grid-area: 1 / 2 / 2 / 3; */
  color: black;
  position: fixed;
  right: 0;
  width: 35%;
  height: 100%;
  background-image: url(https://res.cloudinary.com/duiexwi8t/image/upload/v1601570512/NDG%20Projects/Sample%20Images/aboutus_b6wolw.png);
  background-size: cover;
  z-index: 10;
}

.contact-us-container-ar {
  right: auto;
  left: 7%;
}

.main-contact-container {
  padding-top: 80px;
  color: black;
  width: 60%;
  background-color: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.main-contact-container-ar {
  direction: rtl;
  text-align: right;
  padding: 7% 3% 0 3%;
}



/*  */

.black-box {
  background-color: #2A2A2E;
  color: white;
  transform: translate(60%, -80%);
  width: 50%;
  padding: 6% 3%;
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
}

.black-box-ar {
  transform: translate(-60%, -80%);
}

.black-box span {
  margin-right: 0.5vw;
}

.black-box-text {
  padding: 2vh 1vw;
}

.black-box-text span:nth-child(1) {
  color: #717173;
}

.black-box-text span:nth-child(3) {
  color: #F9BF26;
}

.black-box-text span:nth-child(3):hover {
  color: white;
  cursor: pointer;
}

.getInTouch {
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7em;
  color: #999;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  }

.contact-form input, .contact-form select {
  border: 1px solid #EEEEEE;
  padding: 1vw;
  margin: 1%;
  width: 100%;
  transition-duration: 0.2s;
}

.contact-form input:focus, .contact-form select:focus {
  border: 1px solid #F9BF26;
}

.contact-form input::placeholder, .contact-form textarea::placeholder, .select-placeholder {
  font-weight: bold;
  font-size: 0.7em;
}

.contact-form-text {
  padding: 1%;
  margin: 5% 0;
  height: 200px;
}

.contact-div img{
    width: 100%;
    object-fit: cover;
}

.submitButton {
  background-color: #2A2A2E;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.9em;
  width: 20%;
  transition-duration: 0.3s;
  padding: 1vw;
  margin: 1%;
}
.submitButton:hover {
  background-color: #F9BF26;
}

@media (max-width: 1024px) {
  .contact-div img {
    width: 100%;
  }
  
  .black-box {
    transform: none;
    width: 100%;
    font-size: 0.7em;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
  }

  .contact-form div {
    height: auto;
    padding: 10px 0;
  }

  .contact-form div input, .contact-form div select {
    /* width: 100%; */
    height: 50px;
  }

  .submitButton {
    width: 99%;
    padding: 5vw 10vw;
  }
}

@media (max-width: 1024px) {
  .Contact-container {
      flex-direction: column-reverse;
  }
  .main-contact-container {
      width: 100%;
      position: initial;
  }
  .contact-us-container {
      position: initial;
      width: 100%;
      height: 100vh;
  }

  .todo-brownies {
      margin: 0 5vh 0 7vh;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  contact-us-container {
      background-position-y: 100vh;
  }

  .abtus {
      padding: 5% 10% 0 8vh;
  }

  .todo-brownies {
      font-size: 4vh;
  }
  
}