@import "~react-image-gallery/styles/css/image-gallery.css";

.main-container {
    background-color: white;
    color: black;
    font-family: Barlow;
    display: flex;
    padding-top: 5%;
    width: 100%;
}

.main-container-ar {
    text-align: right;
}

.project-details {
    padding: 2vh 3vw;
    width: 40vw;
}

.project-details-title {
    padding-left: 30px;
    font-size: 1.5em;
    font-weight: bold;
}

.project-main-details-container {
    margin: 20px 30px;
    background-color: #2A2A2E;
    color: #606066;
    padding: 50px 10% 40px;
    font-family: Barlow;
    letter-spacing: 0.05em;
}

.titles {
    margin-right: 10px;
}

.description {
    margin-bottom: 3vh;
    font-size: 1.7vh;
}

.detail {
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
}

.project-details-info {
    font-size: 1.5em;
    padding: 20px 0;
    font-weight: bold;
}

.detail-description {
    margin-top: 1vh;
    margin-bottom: 10vh;
    font-size: 1em;
    color: #3d3d3d;
    line-height: normal;
}

.detail-description > ul > li {
    list-style-position: inside;
    padding: 5px 0 5px 20px;
    text-indent: -1.4em;
}

.project-media {
    width: 50%;
}


.project-media-navigation {
    display: flex;
    margin-bottom: 3vh;
}

.project-media-navigation > div {
    font-size: 1em;
    padding: 1vh 4vw 1vh 0;
    border-bottom: 3px solid #EEEEEE;
    color: #B0B0B0;
    cursor: pointer;
    transition-duration: 0.2s;
}

.project-media-navigation > div:hover {
    color: #F9BF26 !important;
    border-bottom: 3px solid #F9BF26 !important;

}

.project-media-navigation-selected {
    color: #F9BF26 !important;
    border-bottom: 3px solid #F9BF26 !important;
}

.image-gallery {
    width: 100%;
    height: auto;
}

.image-gallery-slide img {
    width: 100%;
    height: 50vh;
    /* max-height: 80vh; */
}
.fullscreen .image-gallery-slide img {
    height: 80vh;
}

/* .image-gallery > img {
    max-height: 200px;
} */

@media (max-width: 1024px) {
    .main-container {
        display: flex;
        flex-direction: column;
    }
    .project-media {
        display: block;
        width: 100%;
        padding: 30px;
    }
    .project-details {
        width: 100vw;
    }
    .project-details-title {
        font-size: 1.4em;
    }
    .detail {
        font-size: 0.7em;
    }
    .detail-description {
        font-size: 0.8em;
    }

    .navbarItem {
        padding: 6px;
        font-size: 10px;
    }

    .image-gallery-slide img {
        width: 100%;
        height: auto;
        max-height: calc(100vh - 80px);
        /* max-height: 80vh; */
    }
    
}

.video-presentation{
    width: 100%;
}