.projectBlocks {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    width: 100%;
    height: 600px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 70px;
}

@media (max-width: 1024px) {
    .projectBlocks {
        /* grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr) !important; */
        display: flex;
        flex-wrap: wrap;
    }
}

@keyframes come-through-bottom {
    0% {transform: translateY(100px);}
    50% {transform: translateY(100px);}
    100% {transform: translateY(0px)}
}

.explore-filter {
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 800px;
    height: 60px;
    display: flex;
    animation-name: come-through-bottom;
    animation-duration: 2s;
    background-color: #2D2D32;
}
.explore-works-filter {
    width: 25%;
    background-color: #F9BF26;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.65em;
    letter-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.explore-filter-categories {
    width: 70%;
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-filter-categories-item {
    margin: 0px 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.6em;
    color: #939396;
    letter-spacing: 0.07em;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.explore-filter-categories-item:hover {
    color: white;
}

.explore-filter-numbers {
    width: 14%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    color: #939396;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.07em;
    font-weight: bold;
}

.explore-filter-categories-item-highlight {
    color: #F9BF26;
}

@media (max-width: 1024px) {
    .projectBlocks {
        margin-top: 86px;
        /* height: 100% !important; */
    }
    .explore-filter {
        width: 100%;
        flex-direction: column;
        top: 50px;
        position: absolute;
        height: 80px;
        bottom: auto;
        animation: none;
    }
    .explore-works-filter {
        width: 100%;
        height: 50px;
    }

    .explore-filter-categories {
        width: 100%;
        height: 40px;
        padding: 0px;
        margin: 0px;
        font-size: 15px;
    }

    .explore-filter-numbers {
        display: none;
    }

}