/* Position and sizing of burger button */

.burger {
  display: none;
}

*:focus, ul:focus, button:focus{
  outline: none;
}

#sideMenu {
  display: none;
}
.ar {
  font-size: 200vh;
}

@media(max-width: 824px){
  .burger{
    display: block;
  }

  .menu {
    margin-top: 1em;
    list-style: none;
    display: block;
  }
  
  .menu li {
    padding: 3% 3%;
  }
  
 .menuText{
    transition-duration: 0.2s;
    display: flex;
    align-items: baseline;
    justify-content: left;
    text-align: center;
    font-family: Barlow;
    font-weight: lighter;
  }
  
  .menuText-ar{
    font-size: 2.5vh;
    margin-top: 2%;
    font-weight: normal;
  }
  
  .menu li:hover {
    color: #E39E03;
    cursor: pointer;
  }
  
  .menu li span:hover {
    color: #E39E03;
    cursor: pointer;
  }

  .burger-selected {
    color: #E39E03;

  }

  .icon {
    margin-right: 6%;
    font-size: 110%;
    transition-duration: 0;
  }
}

@media(max-height: 411px){
  .bm-menu{
    padding: 0 5% !important;
  }
  
  .menuText-ar{
    padding: 0;
    font-size: 4vh;
  }

}
.burger .bm-burger-button {
  position: fixed;
  width: 25px;
  height: 20px;
  left: 90%;
  top: 15px;
}
.burger-ar .bm-burger-button {
  right: 85%;
  left: auto;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #E39E03;
  transition-duration: 0.2s;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #E39E03;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  right: 17px;
  top: 12px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #2d2d32d0;
  padding: 2em 1em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}